.nav {
  position: fixed;
  top: 0;
  display: inline-block;
  width: 100%;
  background-color: transparent;
  z-index: 99;
}

.active {
  background-color: black;
}

.nav-items {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0 auto;
  width: 90%;
}

.title {
  color: red;
  font-size: x-large;
  font-weight: 700;
  cursor: pointer;
}

.search {
  cursor: pointer;
}

.search-icon {
  width: 1.5rem;
}
